.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 28px;
}

label {
  margin-bottom: 24px;
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

fieldset {
  display: inline-flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
  width: 360px;
  height: 64px;
  flex-shrink: 0;
  stroke-width: 1px;
  stroke: #000;
  border-radius: 4px;
}

input[type='radio'] {
  width: 32px;
  height: 32px;
}

button[type='submit'] {
  cursor: pointer;
  margin-top: 10px;
  display: flex;
  width: 392px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #4e75ff;
  border-style: none;

  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}

button[type='submit']:hover {
  background: #6c8cff;
}

label[type='radio'] {
  justify-content: space-evenly;
}

input[type='number'] {
  display: flex;
  width: 356px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #808080;
  margin-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
}

input[type='number']:hover {
  border: 1px solid #000;
}

input[type='number']:active {
  border: 1px solid #4e75ff;
}
